{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-2">
	<div class="row row-cols-2">
		{% if page_obj %}
		{% for expert in page_obj %}
		<!-- COL N -->
		<div class="col">

			<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-md-4 p-2">
						<img src="https://loremflickr.com/200/300" class="img-fluid" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">{{ expert.fields.last_name }} {{ expert.fields.first_name }} {{ expert.fields.middle_name }}</h5>
							<hr>
							<p class="card-text">Город: {{ expert.fields.city }}</p>
							<p class="card-text">Специализация: хиромантия, астрология, нумерология</p>
							<hr>
							<p class="card-text">{{ expert.fields.about|striptags|truncatechars:150 }}</p>
							<p class="card-text"><a href="{% url 'users:expert' expert.id %}">Посмотреть профиль</a></p>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- COL N -->
		{% endfor %}
		{% endif %}

	</div>
</div>
<div class="container">
	{% include 'paginator.html' %}
</div>
{% endblock %}