{% load static %}
<div class="container py-2">
    <div class="row row-cols-3 align-items-center">
      <div class="col">
        <img src="{% static 'logo.jpg' %}" class="logo mx-auto d-block" />
      </div>
      <div class="col">
        <div class="s-icon">
          <a href="https://vk.com/asexpertov" target="_blank"><img src="{% static 'img/vk.png' %}" class="mx-3"></a>
          <a href="https://t.me/+4WuXzdw-s7pmN2Ey" target="_blank"><img src="{% static 'img/tg.png' %}" class="mx-3"></a>
          <a href="mailto:a.expertov@yandex.ru" target="_blank"><img src="{% static 'img/mail.png' %}" class="mx-3"></a>
        </div>
      </div>
      <div class="col justify-content-center">
          <a href="{% url 'users:get_representative' %}" class="btn btn-primary">Вступить в ассоциацию</a>
      </div>
    </div>
  </div>