<div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav top-menu">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pages:index' %}">Ассоциация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Сообщество экспертов</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Мероприятия</a>
        </li>
        {% if request.user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login' %}">ЛК</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login' %}">{{ request.user }}</a>
        </li>
        {% endif %}
      </ul>
    </div>

  </div>