{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
	<p style="line-height: 24px; text-align: center; font-size:18pt">
		<strong><span >Уважаемые посетители нашего сайта и участники нашей Ассоциации экспертов!</span> </strong>
	</p>
	<p style="line-height: 24px; text-align: left;">
	</p>
	<p style="line-height: 24px; text-align: left;">
		<span >Мы рады, что Вы стали частью нашей Ассоциации экспертов и надеемся, что их посещение оправдывает Ваши ожидания и приносит положительные результаты! </span>
	</p>
	<br>
	<p style="line-height: 24px; text-align: left;">
		<span >Все материалы, которые мы предоставляем в нашей Ассоциации экспертов, являются авторскими работами Марии Аникиной и наших приглашенных специалистов. Мы углубленно подходим к содержанию наших занятий, поэтому каждое из них является оригинальным и творческим, охраняемым с точки зрения действующего законодательства РФ.</span>
	</p>
	<br>
	<p style="line-height: 24px; text-align: left;">
		<span >Название Ассоциации экспертов в сфере психологии и эзотерики получило правовую охрану в качестве зарегистрированного товарного знака.</span>
	</p>
	<br>
	<p style="line-height: 24px; text-align: left;">
		<span >Использование данного названия без получения надлежащего разрешения от правообладателя - Марии Аникиной, является нарушением ее прав, приводит к введению потребителей в заблуждение, и влечет административную, гражданскую и уголовную ответственность. </span>
	</p>
	<br>
	<p style="line-height: 24px; text-align: left;">
		<span >Использование объектов интеллектуальной собственности Ассоциации экспертов возможно только с ее разрешения, путем заключения соответствующего лицензионного договора. Только при таких условиях, а именно при наличии соответствующего договора с Ассоциацией экспертов, деятельность третьих лиц по использованию (с использованием) принадлежащих нам материалов, будет легитимной, не нарушающей прав Ассоциации экспертов и действующего законодательства.</span>
	</p>
	<br>
	<p style="line-height: 24px; text-align: left;">
		<span >Просим Вас внимательно отнестись к содержанию настоящего обращения, и не осуществлять без разрешения Ассоциации экспертов использование принадлежащих ей объектов интеллектуальной собственности. </span>
	</p>
	<br>
	<p style="line-height: 24px; text-align: right;">
		<span >С уважением, основатель Ассоциации экспертов в сфере психологии и эзотерики,</span>
	</p>
	<p style="line-height: 24px; text-align: right;">
		<span >Мария Аникина.</span>
	</p>
</div>
{% endblock %}