{% extends 'lk_admin.html' %}

{% block content %}
<div class="container my-5">
	<div class="card">
		<div class="card-header">
			{{ title }}
		</div>
		<div class="card-body">
			<p>Чтобы добавить город, перейдите по ссылке: <a href="{% url 'users:department_add' %}">Добавить город</a></p>
			<table class="table table-bordered table-hover table-stripped">
				<thead>
					<tr class="table-dark">
						<td class="col-1">ID</td>
						<td class="col-7">Город</td>
						<td class="col-4"></td>
					</tr>
				</thead>
				<tbody>
					{% for d in departments %}
					<tr>
						<td>{{ d.id }}</td>
						<td>{{ d.city }}</td>
						<td><a href="{% url 'users:department_edit' d.id %}">Редактировать</a> | <a href="{% url 'users:department_delete' d.id %}">Удалить</a></td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>
	
</div>
{% endblock %}