{% extends 'lk_expert.html' %}


{% block content %}
<div class="container my-5">

	<div class="card mb-3">
		<div class="card-header">
			{{ title }}
		</div>
		<div class="card-body">
			{% if form.errors %}
			{% for error in form.non_field_errors %}
			<div class="alert alert-danger" role="alert">
				{{ error|escape }}
			</div>
			{% endfor %}

			{% endif %}
			<form novalidate
			{% if files_form %}
			enctype="multipart/form-data"
			{% endif %}
			action="{{ action }}" method="post">
				{% csrf_token %}
				{% for field in form %}
				<div class="row my-2 py-2 align-items-center border-bottom">
					<div class="col-4 text-center">
						<label class="form-label" id="{{ field.id_for_label }}">{{ field.label }}</label>
					</div>
					<div class="col-8">
						{{ field }}
						{% if field.errors %}
							{% for error in field.errors %}
							<div class="form-text text-danger">{{ error|escape }}</div>
							{% endfor %}
						{% endif %}
						{% if field.help_text %}
						<div class="form-text">{{ field.help_text }}</div>
						{% endif %}
					</div>
				</div>
				{% endfor %}
				<div class="row my-2 py-2">
					<div class="col text-center">
						<button type="submit" class="btn btn-primary">{{ button }}</button>
					</div>
					
				</div>
			</form>
		</div>
	</div>

	<div class="card">
		<div class="card-header">
			Список Ваших специализаций
		</div>
		<div class="card-body">
			<p>Управление Вашими навыками.</p>
			<table class="table table-bordered table-hover table-stripped">
				<thead>
					<tr class="table-dark">
						<td class="col-1">ID</td>
						<td class="col-7">Навык</td>
						<td class="col-4"></td>
					</tr>
				</thead>
				<tbody>
					{% for s in skills %}
					<tr>
						<td>{{ s.id }}</td>
						<td>{{ s.city }}</td>
						<td><a href="{% url 'users:department_edit' s.id %}">Редактировать</a> | <a href="{% url 'users:department_delete' s.id %}">Удалить</a></td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>
</div>
{% endblock %}
